<app-o-navbar></app-o-navbar>
<main class="main pt-5">
  <h1 class="text-center text-white">Đăng tin</h1>
  <div class="container mt-5">
    <div class="row">
      <div class="col-10 mx-auto">
        <div class="bg-white p-3">
          <form action="">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Tiêu đề"
                  />
                </div>
                <div class="mb-3">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected>Loại BĐS</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="mb-3">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected>Quận</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="mb-3">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected>Đường</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="mb-3">
                  <textarea
                    name=""
                    class="form-control"
                    id=""
                    placeholder="Mô tả"
                  ></textarea>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="mb-3">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected>Phường/Xã</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Số nhà"
                  />
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Giá" />
                </div>
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Diện tích"
                  />
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Đăng tin</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
