<app-navbar></app-navbar>

<main>
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Đăng nhập</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-box d-flex justify-content-lg-end"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Đăng nhập
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-6 m-auto">
        <form>
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="example@gmail.com"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Mật khẩu:</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="********"
            />
          </div>
          <button type="submit" class="btn btn-primary">Đăng nhập</button>
        </form>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
