<app-navbar></app-navbar>

<main>
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Danh sách yêu thích</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-box d-flex justify-content-lg-end"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Danh sách yêu thích
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="py-2 border-top">
      <div class="row">
        <div class="col-3">
          <img src="/assets/img/property-7.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-9">
          <h6>CHDV ngay cầu tham lương - 1PN riêng - ( chính chủ )</h6>
          <p>Quận Tân Bình, TPHCM</p>
          <h6>21 m2</h6>
          <h5>2 triệu 900 nghìn</h5>
        </div>
      </div>
    </div>
    <div class="py-2 border-top">
      <div class="row">
        <div class="col-3">
          <img src="/assets/img/property-7.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-9">
          <h6>CHDV ngay cầu tham lương - 1PN riêng - ( chính chủ )</h6>
          <p>Quận Tân Bình, TPHCM</p>
          <h6>21 m2</h6>
          <h5>2 triệu 900 nghìn</h5>
        </div>
      </div>
    </div>
    <div class="py-2 border-top">
      <div class="row">
        <div class="col-3">
          <img src="/assets/img/property-7.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-9">
          <h6>CHDV ngay cầu tham lương - 1PN riêng - ( chính chủ )</h6>
          <p>Quận Tân Bình, TPHCM</p>
          <h6>21 m2</h6>
          <h5>2 triệu 900 nghìn</h5>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
