<nav class="navbar navbar-default navbar-expand-lg fixed-top">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-brand" routerLink="/"
      >it<span class="text-primary">K22</span></a
    >
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active"
            >Trang chủ</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tim-thue" routerLinkActive="active"
            >Tìm thuê</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/ve-chung-toi"
            routerLinkActive="active"
            >Về chúng tôi</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lien-he" routerLinkActive="active"
            >Liên hệ</a
          >
        </li>
      </ul>
    </div>
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#searchModal"
    >
      <i class="bi bi-search"></i>
    </button>

    <div class="ms-3">
      <a routerLink="/dang-nhap">
        <i class="bi bi-person-circle text-primary" style="font-size: 25px"></i>
      </a>
    </div>
  </div>
</nav>
<div
  class="modal fade"
  id="searchModal"
  tabindex="-1"
  aria-labelledby="searchModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="searchModalLabel">Tìm thuê</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="keyword" class="form-label">Từ khóa</label>
            <input
              type="text"
              class="form-control"
              id="keyword"
              placeholder="Từ khóa"
              name="title"
              [(ngModel)]="title"
            />
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-6 mb-3">
                <label for="district" class="form-label">Quận</label>
                <div (click)="onClickDistrict()">
                  <ng-container *ngIf="districts.length > 0; else elseBlock">
                    <select
                      (change)="onSelectDistrict($event)"
                      class="form-select"
                    >
                      <ng-container *ngFor="let item of districts">
                        <option [selected]="item.code == 0" [value]="item.code">
                          {{ item.nameWithType }}
                        </option>
                      </ng-container>
                    </select>
                  </ng-container>
                </div>
              </div>
              <div class="col-6 mb-3">
                <label for="type" class="form-label">Phường</label>
                <ng-container *ngIf="wards.length > 0; else elseBlock">
                  <select (change)="onSelectWards($event)" class="form-select">
                    <ng-container *ngFor="let item of wards">
                      <option [value]="item.code">
                        {{ item.nameWithType }}
                      </option>
                    </ng-container>
                  </select>
                </ng-container>
              </div>
              <div class="col-12 mb-3">
                <label for="type" class="form-label">Loại BĐS</label>
                <div (click)="onClickType()">
                  <ng-container *ngIf="propertyType.length > 0; else elseBlock">
                    <select (change)="onSelectType($event)" class="form-select">
                      <ng-container *ngFor="let item of propertyType">
                        <option [value]="item.typeId">
                          {{ item.typeName }}
                        </option>
                      </ng-container>
                    </select>
                  </ng-container>
                </div>
              </div>
              <div class="col-12 mb-3">
                <label for="amountFrom" class="form-label"
                  >Giá từ: <strong>{{ amountFromDisplay }}</strong></label
                >
                <input
                  min="0"
                  max="5000000"
                  step="100000"
                  name="amountFrom"
                  [(ngModel)]="amountFrom"
                  type="range"
                  class="form-range"
                  id="amountFrom"
                  (change)="onChangeAmountForm()"
                />
              </div>

              <div class="col-12 mb-3">
                <label for="amountTo" class="form-label"
                  >Giá đến: <strong>{{ amountToDisplay }}</strong></label
                >
                <input
                  min="0"
                  max="5000000"
                  step="100000"
                  name="amountTo"
                  [(ngModel)]="amountTo"
                  type="range"
                  class="form-range"
                  id="amountTo"
                  (change)="onChangeAmountTo()"
                />
              </div>
            </div>
          </div>
          <button (click)="onSubmit()" type="button" class="btn btn-primary">
            Tìm kiếm
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <select class="form-select">
    <option [value]="0" selected>Tất cả</option>
  </select>
</ng-template>
