<app-o-navbar></app-o-navbar>
<main class="main pt-5">
  <h1 class="text-center text-white">Quản lý tin đăng</h1>
  <div class="container mt-5">
    <div class="row">
      <div class="col-10 mx-auto">
        <div class="bg-white p-3">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-bs-toggle="tab" href="#home"
                >Đang đăng (0)</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#menu1"
                >Tin lỗi (0)</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#menu2"
                >Tin khác (0)</a
              >
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane container active" id="home">...</div>
            <div class="tab-pane container fade" id="menu1">...</div>
            <div class="tab-pane container fade" id="menu2">...</div>
          </div>
          <div style="min-height: 200px"></div>
        </div>
      </div>
    </div>
  </div>
</main>
