<div class="bg-light mt-5">
  <div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-md-3 mb-3">
          <h5>itK22</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a routerLink="/" class="nav-link p-0 text-muted">Trang chủ</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/tim-thue" class="nav-link p-0 text-muted"
                >Danh sách BĐS</a
              >
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/ve-chung-toi" class="nav-link p-0 text-muted"
                >Về chúng tôi</a
              >
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/lien-he" class="nav-link p-0 text-muted"
                >Liên hệ</a
              >
            </li>
          </ul>
        </div>

        <div class="col-6 col-md-3 mb-3">
          <h5>Về itK22</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a routerLink="/ve-chung-toi" class="nav-link p-0 text-muted"
                >Về chúng tôi</a
              >
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Điều khoản sử dụng</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Quy chế hoạt động</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Thỏa thuận mạng XH</a>
            </li>
          </ul>
        </div>

        <div class="col-md-4 offset-md-1 mb-3">
          <img
            src="assets/img/logo.png"
            class="img-fluid"
            style="max-width: 250px"
            alt=""
          />
        </div>
      </div>

      <div
        class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"
      >
        <p>© 2022 Company, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3">
            <a class="link-dark" href="#"><i class="bi bi-twitter"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-dark" href="#"><i class="bi bi-instagram"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-dark" href="#"><i class="bi bi-facebook"></i></a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</div>
