<app-navbar></app-navbar>

<main>
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Danh sách BĐS</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-box d-flex justify-content-lg-end"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Danh sách BĐS
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-6 mb-3">
        <div class="card">
          <div class="card-body">
            <img src="assets/img/property-5.jpg" alt="" class="img-fluid" />
            <div>
              <h5 class="text-truncate">
                164, Tân Mỹ, Tân Thuận Tây, Q7, TP.HCM
              </h5>
            </div>
            <div>
              <div class="d-flex">
                <span>3 triệu</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-3">
        <div class="card">
          <div class="card-body">
            <img src="assets/img/property-6.jpg" alt="" class="img-fluid" />
            <div>
              <h5 class="text-truncate">
                164, Tân Mỹ, Tân Thuận Tây, Q7, TP.HCM
              </h5>
            </div>
            <div>
              <div class="d-flex">
                <span>3 triệu</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-3">
        <div class="card">
          <div class="card-body">
            <img src="assets/img/property-7.jpg" alt="" class="img-fluid" />
            <div>
              <h5 class="text-truncate">
                164, Tân Mỹ, Tân Thuận Tây, Q7, TP.HCM
              </h5>
            </div>
            <div>
              <div class="d-flex">
                <span>3 triệu</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-3">
        <div class="card">
          <div class="card-body">
            <img src="assets/img/property-8.jpg" alt="" class="img-fluid" />
            <div>
              <h5 class="text-truncate">
                164, Tân Mỹ, Tân Thuận Tây, Q7, TP.HCM
              </h5>
            </div>
            <div>
              <div class="d-flex">
                <span>3 triệu</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-3">
        <div class="card">
          <div class="card-body">
            <img src="assets/img/property-5.jpg" alt="" class="img-fluid" />
            <div>
              <h5 class="text-truncate">
                164, Tân Mỹ, Tân Thuận Tây, Q7, TP.HCM
              </h5>
            </div>
            <div>
              <div class="d-flex">
                <span>3 triệu</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-3">
        <div class="card">
          <div class="card-body">
            <img src="assets/img/property-6.jpg" alt="" class="img-fluid" />
            <div>
              <h5 class="text-truncate">
                164, Tân Mỹ, Tân Thuận Tây, Q7, TP.HCM
              </h5>
            </div>
            <div>
              <div class="d-flex">
                <span>3 triệu</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-3">
        <div class="card">
          <div class="card-body">
            <img src="assets/img/property-7.jpg" alt="" class="img-fluid" />
            <div>
              <h5 class="text-truncate">
                164, Tân Mỹ, Tân Thuận Tây, Q7, TP.HCM
              </h5>
            </div>
            <div>
              <div class="d-flex">
                <span>3 triệu</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-3">
        <div class="card">
          <div class="card-body">
            <img src="assets/img/property-8.jpg" alt="" class="img-fluid" />
            <div>
              <h5 class="text-truncate">
                164, Tân Mỹ, Tân Thuận Tây, Q7, TP.HCM
              </h5>
            </div>
            <div>
              <div class="d-flex">
                <span>3 triệu</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link"><span class="bi bi-chevron-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#"
            ><span class="bi bi-chevron-right"></span
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</main>

<app-footer></app-footer>
