<nav class="navbar navbar-default navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" routerLink="/owner"
      >it<span class="text-primary">K22</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/owner"
            routerLinkActive="active"
            >Trang chủ</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/owner/quan-ly-tin"
            routerLinkActive="active"
            >Quản lý tin</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/owner/tin-nhan"
            routerLinkActive="active"
            >Tin nhắn</a
          >
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/owner/thong-tin-ca-nhan"
            ><img
              src="assets/img/agent-4.jpg"
              width="40"
              height="40"
              class="rounded-5"
          /></a>
        </li>
        <li class="nav-item mx-2">
          <a
            routerLink="/owner/dang-tin"
            type="button"
            class="btn btn-outline-primary btn-sm"
          >
            Đăng tin
          </a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn">
            <i class="bi bi-box-arrow-right"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
